.myDiv {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    width: 40px;
    height: 20px;
    margin: auto;
}
.myDiv > span {
    display: inline-block;
    background-color: green;
    width: 5px;
    height: 5px;
}
.a1 {
    margin-left: 2px;
    animation: wave 2s linear infinite;
    animation-delay: 0s;
}
.a2 {
    margin-left: 2px;
    animation: wave 2s linear infinite;
    animation-delay: 0.2s;
}
.a3 {
    margin-left: 2px;
    animation: wave 2s linear infinite;
    animation-delay: 0.4s;
}
.a4 {
    margin-left: 2px;
    animation: wave 2s linear infinite;
    animation-delay: 0.6s;
}
.a5 {
    margin-left: 2px;
    animation: wave 2s linear infinite;
    animation-delay: 0.8s;
}
@keyframes wave {
    0%,
    50% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(4);
        background-color: palevioletred;
    }
}
